<div class="container mt-5 mb-3">
    <h3 class="d-flex justify-content-center mb-3">Conversas</h3>
    <ul class="list-group">
        <li class="list-group-item mb-3">
            <div class="d-flex justify-content-between">
                <h5>Anonymous</h5>
                <span>17:00</span>
            </div>
            <p>Conheço, essa pessoa</p>
        </li>

        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <h5>Anonymous</h5>
                <span>17:05</span>
            </div>
            <p>Eu também!</p>
        </li>

    </ul>
    <div class="form-group mt-5">
        <div class="mb-3">
            <label for="ncoment" class="form-label"><strong>#Novo comentario:</strong></label>
            <textarea  class="form-control col-auto" id="ncoment" rows="3" placeholder="Nunca vi!"></textarea>
        </div>
    </div>
    <div class="input-group justify-content-center">
        <button class="btn btn-dark">Comentar!</button>
    </div>
</div>