<div class="container">

<div class="d-flex flex-column">
    <div class="input-group justify-content-center mt-5 mb-3">
        <h3>Gerar Hash</h3>
    </div>
    <div class="input-group  justify-content-center">
        <div class="mb-3">
            <label for="nick" class="form-label"><strong>@Nick</strong></label>
            <input type="email" class="form-control" id="nick" placeholder="@example">
        </div>
    </div>

    <div class="input-group  justify-content-center">
        <div class="mb-3">
            <label for="link" class="form-label"><strong>#link</strong></label>
            <textarea class="form-control" id="link" rows="3" placeholder="instagram.com/jonas.dsg"></textarea>
        </div>
    </div>
    <div class="input-group justify-content-center">
        <button class="btn btn-dark">Gerar Hash</button>
    </div>
</div>

</div>