<div class="container">

    <div class="d-flex flex-column">
        
        <div class="input-group justify-content-center mt-5 mb-3">
            <h3>New Spott</h3>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">@nick_do_crush</span>
            <input type="text" class="form-control" placeholder="@exemple">
        </div>
        <div class="input-group justify-content-center mb-3">
            <div class="btn-group btn-group-toggle">
                <label for="op1" class="btn btn-secondary">Instagram
                    <input type="radio" name="rede" id="op1">
                </label>
                <label for="op2" class="btn btn-secondary">Facebook
                    <input type="radio" name="rede" id="op2">
                </label>
                <label for="op3" class="btn btn-secondary">Twitter
                    <input type="radio" name="rede" id="op3">
                </label>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="link" class="form-label"><strong>#Mensagem</strong></label>
            <textarea class="form-control" id="link" rows="3" placeholder="O seu sorriso é literalmente a coisa mais linda que eu já vi em toda a minha vida. Eu não preciso conhecer o resto do mundo pra saber que ninguém é tão bom pra mim igual você é. Você é lindo de dentro para fora!"></textarea>
        </div>

        <div class="input-group justify-content-center">
            <button class="btn btn-dark">#spotted</button>
        </div>
    </div>

</div>