<div class="container mt-3">
  <h1 class="mt-3 d-flex justify-content-center">LogIn</h1>
  <div class="input-group mt-5 d-flex justify-content-center">
    <div class="mb-3">
        <label for="nickInput" class="form-label"><strong>@Nick</strong></label>
        <input type="text" class="form-control" id="nickInput" placeholder="@example">
    </div>
    <div class="mb-3">
        <label for="hashInput" class="form-label"><strong>#Hash</strong></label>
        <input type="password" id="hashInput" class="form-control" placeholder="#3a4jkk">
    </div>  
  </div>
  
  <div class="row mb-3 d-flex justify-content-center">
    <button class="btn btn-dark">Entrar</button>
  </div>
</div>