<div class="container">

    <div class="d-flex flex-column">
        
        <div class="d-flex justify-content-center mt-5 mb-3">    
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" width="50px" style="border-radius: 50%;">
            <h3 class="ml-2">@Nick</h3>
        </div>
        <div class="mb-3">
            <label for="link" class="form-label"><strong>#Mensagem</strong></label>
            <textarea class="form-control" id="link" rows="5" placeholder="O seu sorriso é literalmente a coisa mais linda que eu já vi em toda a minha vida. Eu não preciso conhecer o resto do mundo pra saber que ninguém é tão bom pra mim igual você é. Você é lindo de dentro para fora!" disabled></textarea>
        </div>

        <div class="input-group justify-content-center">
            <button class="btn btn-dark mr-3">#spotted</button>
            <button class="btn btn-danger">:(</button>
        </div>
    </div>

</div>