<div class="container">
    <form class="d-flex justify-content-center col-12 mt-5 mb-2">
        <div class="form-group mb-2">
          <label for="example" class="sr-only">Procurar</label>
          <input type="text" class="form-control" id="example" placeholder="@example">
        </div>
        <button type="submit" class="btn btn-dark mb-2">Achar</button>
    </form>

    <ul class="list-group">

        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <h5>@example</h5>
                <span class="badge badge-success">4</span>
            </div>
            <p> O seu sorriso é literalmente a coisa mais linda ...</p>
        </li>
    </ul>

</div>